<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.BookCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.test.model.BookCategory" >
    <constructor >
      <idArg column="book_category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="book_category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    book_category_id, book_category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_book_category
    where book_category_id = #{bookCategoryId,jdbcType=INTEGER}
  </select>
  <select id="CategoryAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
     from t_book_category
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book_category
    where book_category_id = #{bookCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.test.model.BookCategory" >
    insert into t_book_category (book_category_id, book_category_name)
    values (#{bookCategoryId,jdbcType=INTEGER}, #{bookCategoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.model.BookCategory" >
    insert into t_book_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookCategoryId != null" >
        book_category_id,
      </if>
      <if test="bookCategoryName != null" >
        book_category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookCategoryId != null" >
        #{bookCategoryId,jdbcType=INTEGER},
      </if>
      <if test="bookCategoryName != null" >
        #{bookCategoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.model.BookCategory" >
    update t_book_category
    <set >
      <if test="bookCategoryName != null" >
        book_category_name = #{bookCategoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where book_category_id = #{bookCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.model.BookCategory" >
    update t_book_category
    set book_category_name = #{bookCategoryName,jdbcType=VARCHAR}
    where book_category_id = #{bookCategoryId,jdbcType=INTEGER}
  </update>
</mapper>